<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Add this permission -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- For incoming call notifications -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SHORT_SERVICE" /> 
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Remove duplicate FOREGROUND_SERVICE permission -->
    <!-- Storage Permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Associate"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <!-- Splash Screen Activity -->
        <activity
            android:name=".Activities.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Video Call Activity -->
        <activity
            android:name=".Activities.VideoCallActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:supportsPictureInPicture="true"
            android:hardwareAccelerated="true" />

        <!-- Audio Call Activity -->
        <activity
            android:name=".Activities.AudioCallActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:supportsPictureInPicture="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:launchMode="singleTop" />

        <!-- Payment Activity -->
        <activity
            android:name=".Payment.LoadMoneyActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Advisor Profile Activity -->
        <activity
            android:name=".Activities.AdvisorProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />



        <!-- Personal Screen Activity -->
        <activity
            android:name=".Activities.FeedbackActivity"
            android:screenOrientation="portrait"
            android:exported="false" />


        <!-- Personal Screen Activity -->
        <activity
            android:name=".Activities.PersonalScreenActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- OTP Screen Activity -->
        <activity
            android:name=".Activities.OtpScreenActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Phone Number Activity -->
        <activity
            android:name=".Activities.PhoneNumberActivity"
            android:screenOrientation="fullSensor"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Incoming Call Activity -->
        <activity
            android:name=".Activities.IncomingCallActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <!-- Chat Activity -->
        <activity
            android:name=".Activities.ChatActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".Activities.TermsAndConditionsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- Notification Activity -->
        <activity
            android:name=".Activities.NotificationActivity"
            android:screenOrientation="portrait"
            android:exported="false"
             />

        <activity
            android:name=".Activities.BookingSummaryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Help & Support Activities -->
        <activity
            android:name=".HelpSupport.HelpSupportActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".HelpSupport.MyTicketsActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <!-- Video Call Service -->
        <service
            android:name=".Repositories.VideoCallService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone" />

        <!-- Firebase Cloud Messaging Service -->
        <service
            android:name=".NotificationFCM.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Call Notification Service -->
        <service
            android:name=".NotificationFCM.CallNotificationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone" />

        <!-- Preloaded Fonts -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- Firebase Config -->
        <meta-data
            android:name="firebase_auth_force_recaptcha_flow"
            android:value="false" />

        <!-- Notification Channels -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="user_calls_channel" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>